*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}
:root{
    --bg-color: #3a3938;
    --text-color: #fff;
    --main-color: #2062b8;
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);

    }
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 138, 138);
    padding: 28px 12%;
    transition: all 2.50s ease;

}
.logo{
    display: flex;
    align-items: center; 
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 500;
}
.navbar{
    display: flex;
    list-style: none;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar span{
    color: var(--main-color);
}
.main{
    display: flex;
}
.main a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 5px;
    transition: all .50s ease;
}
.main a:hover{
    color: var(--main-color);
}
.main span{
color: var(--main-color);
}
@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
.hometextbig{
    color: var(--text-color);
    font-size: 1.9rem;
    font-weight: 500;
    margin: 100px 0px 0px 700px ;
    transition: all .50s ease;
    position: center;
    }
.pictureofyourself{
    position: absolute;
    margin: 10px;
}
.myself{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 30px 0px 0px 400px ;
    transition: all .50s ease;
    position: center;
    }
.hobbies{
        color: var(--text-color);
        font-size: 2rem;
        font-weight: 500;
        margin: 70px 0px 0px 100px ;
        transition: all .50s ease;
        position: center;
        
}
.hobbypicture{
    margin: -250px 0px 0px 370px ;
    transition: all .50s ease;
}
.hobbypicture2{
    margin: 0px 0px 0px 0px;
    transition: all .50s ease;
}
