* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #3a3938;
    --text-color: #fff;
    --main-color: #2062b8;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);

}

body::-webkit-scrollbar {
    display: none;
}

.screen {
    width: 1920px;
    margin: 10vh auto 0px auto;
}

header {
    position: fixed;
    width: 95%;
    margin: auto auto auto 5%;
    top: 1%;
    right: 2.5%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 138, 138);
    padding: 28px 12%;
    transition: all 2.50s ease;
    border-radius: 30px;
    height: 90px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    color: var(--main-color);
    font-size: 300%;
    margin-right: 3px;
}

.logo span {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 500;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar span {
    color: var(--main-color);
}

.main {
    display: flex;
}

.main a {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 5px;
    transition: all .50s ease;
}

.main a:hover {
    color: var(--main-color);
}

.main span {
    color: var(--main-color);
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

.hometextbig {
    color: var(--text-color);
    font-size: 1.9rem;
    font-weight: 500;
    margin: 200px 400px;
    transition: all .50s ease;
}

.hometextbig span {
    color: aqua;
}

.infolaptop {
    color: var(--text-color);
    font-size: 1.9rem;
    font-weight: 500;
    margin: 50px 100px;
    transition: all .5s ease-in;
}